.anime {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.anime-slow {
  animation-duration: 3s;
  animation-fill-mode: both;
}

.anime.infinite {
  animation-iteration-count: infinite;
}

@keyframes spin-around {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
