.flex-direction-row {
  flex-direction: row; }

.flex-direction-row-reverse {
  flex-direction: row-reverse; }

.flex-direction-column {
  flex-direction: column; }

.flex-direction-column-reverse {
  flex-direction: column-reverse; }

.flex-wrap-nowrap {
  flex-wrap: nowrap; }

.flex-wrap-wrap {
  flex-wrap: wrap; }

.flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse; }

.justify-content-flex-start {
  justify-content: flex-start; }

.justify-content-flex-end {
  justify-content: flex-end; }

.justify-content-center {
  justify-content: center; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-space-around {
  justify-content: space-around; }

.justify-content-stretch {
  justify-content: stretch; }

.align-items-flex-start {
  align-items: flex-start; }

.align-items-flex-end {
  align-items: flex-end; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.align-items-stretch {
  align-items: stretch; }

.align-content-flex-start {
  align-content: flex-start; }

.align-content-flex-end {
  align-content: flex-end; }

.align-content-center {
  align-content: center; }

.align-content-space-between {
  align-content: space-between; }

.align-content-space-around {
  align-content: space-around; }

.align-content-stretch {
  align-content: stretch; }

/* //children
.item {
  order: <integer>;
}
.item {
  flex-grow: <number>; // default 0 
}
.item {
  flex-shrink: <number>; // default 1 
}
.item {
  flex-basis: <length> | auto; // default auto 
}
.item {
  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
}
.item {
  align-self: auto | flex-start | flex-end | center | baseline | stretch;
}*/
