@font-face {
  font-family: 'CasaIcons';
  src: url("../fonts/CasaIcons.eot");
  src: url("../fonts/CasaIcons.eot") format("embedded-opentype"), url("../fonts/CasaIcons.ttf") format("truetype"), url("../fonts/CasaIcons.woff") format("woff"), url("../fonts/CasaIcons.svg?#CasaIcons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CasaIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-webpage:before {
  content: "\e660"; }

.icon-menu:before {
  content: "\e600"; }

.icon-list:before {
  content: "\e601"; }

.icon-justify:before {
  content: "\e602"; }

.icon-jleft:before {
  content: "\e603"; }

.icon-jcenter:before {
  content: "\e604"; }

.icon-jright:before {
  content: "\e605"; }

.icon-tlist:before {
  content: "\e606"; }

.icon-table:before {
  content: "\e607"; }

.icon-tablelrg:before {
  content: "\e608"; }

.icon-fastback:before {
  content: "\e609"; }

.icon-stepback:before {
  content: "\e60a"; }

.icon-rewind:before {
  content: "\e60b"; }

.icon-play:before {
  content: "\e60c"; }

.icon-foward:before {
  content: "\e60d"; }

.icon-stepfoward:before {
  content: "\e60e"; }

.icon-fastfoward:before {
  content: "\e60f"; }

.icon-stop:before {
  content: "\e610"; }

.icon-eject:before {
  content: "\e611"; }

.icon-expand:before {
  content: "\e612"; }

.icon-move:before {
  content: "\e613"; }

.icon-chevup:before {
  content: "\e614"; }

.icon-chevright:before {
  content: "\e615"; }

.icon-chevdown:before {
  content: "\e616"; }

.icon-chevleft:before {
  content: "\e617"; }

.icon-cirlecup:before {
  content: "\e618"; }

.icon-circleright:before {
  content: "\e619"; }

.icon-circledown:before {
  content: "\e61a"; }

.icon-circleleft:before {
  content: "\e61b"; }

.icon-circlex:before {
  content: "\e61c"; }

.icon-circlecheck:before {
  content: "\e61d"; }

.icon-ban:before {
  content: "\e61e"; }

.icon-circledot:before {
  content: "\e61f"; }

.icon-circleplay:before {
  content: "\e620"; }

.icon-compass:before {
  content: "\e621"; }

.icon-zoomin:before {
  content: "\e622"; }

.icon-zoomout:before {
  content: "\e623"; }

.icon-ex:before {
  content: "\e624"; }

.icon-check:before {
  content: "\e625"; }

.icon-sync:before {
  content: "\e626"; }

.icon-reload:before {
  content: "\e627"; }

.icon-gears:before {
  content: "\e628"; }

.icon-wrench:before {
  content: "\e629"; }

.icon-exclaim:before {
  content: "\e630"; }

.icon-info:before {
  content: "\e62a"; }

.icon-question:before {
  content: "\e62b"; }

.icon-chevupl:before {
  content: "\e661"; }

.icon-chevrightl:before {
  content: "\e662"; }

.icon-chevdownl:before {
  content: "\e663"; }

.icon-chevleftl:before {
  content: "\e664"; }

.icon-external:before {
  content: "\e62c"; }

.icon-edit:before {
  content: "\e62d"; }

.icon-share:before {
  content: "\e62e"; }

.icon-checkbox:before {
  content: "\e62f"; }

.icon-login:before {
  content: "\e66b"; }

.icon-logout:before {
  content: "\e66c"; }

.icon-print:before {
  content: "\e631"; }

.icon-download:before {
  content: "\e632"; }

.icon-crosshairs:before {
  content: "\e633"; }

.icon-home:before {
  content: "\e634"; }

.icon-link:before {
  content: "\e635"; }

.icon-book:before {
  content: "\e636"; }

.icon-bookmark:before {
  content: "\e637"; }

.icon-tags:before {
  content: "\e638"; }

.icon-tag:before {
  content: "\e639"; }

.icon-tackright:before {
  content: "\e63a"; }

.icon-clock:before {
  content: "\e63b"; }

.icon-caldot:before {
  content: "\e668"; }

.icon-calgrid:before {
  content: "\e63c"; }

.icon-calblank:before {
  content: "\e63d"; }

.icon-keyboard:before {
  content: "\e63e"; }

.icon-envelope:before {
  content: "\e640"; }

.icon-comments:before {
  content: "\e641"; }

.icon-pencil:before {
  content: "\e642"; }

.icon-locked:before {
  content: "\e643"; }

.icon-unlocked:before {
  content: "\e644"; }

.icon-key:before {
  content: "\e66d"; }

.icon-camera:before {
  content: "\e645"; }

.icon-picture:before {
  content: "\e646"; }

.icon-gallery:before {
  content: "\e647"; }

.icon-aperture:before {
  content: "\e67c"; }

.icon-iso:before {
  content: "\e67d"; }

.icon-video:before {
  content: "\e648"; }

.icon-highway:before {
  content: "\e64a"; }

.icon-airplane:before {
  content: "\e64b"; }

.icon-beaker:before {
  content: "\e64c"; }

.icon-brush:before {
  content: "\e64d"; }

.icon-lightbulb:before {
  content: "\e64e"; }

.icon-extinguish:before {
  content: "\e64f"; }

.icon-globe:before {
  content: "\e650"; }

.icon-sun:before {
  content: "\e651"; }

.icon-location:before {
  content: "\e652"; }

.icon-lifevest:before {
  content: "\e653"; }

.icon-rocket:before {
  content: "\e654"; }

.icon-sticker:before {
  content: "\e655"; }

.icon-bomb:before {
  content: "\e656"; }

.icon-vcard:before {
  content: "\e65a"; }

.icon-dashboard:before {
  content: "\e665"; }

.icon-briefcase:before {
  content: "\e666"; }

.icon-tackleft:before {
  content: "\e667"; }

.icon-paperplane:before {
  content: "\e669"; }

.icon-users:before {
  content: "\e66a"; }

.icon-sliders:before {
  content: "\e65b"; }

.icon-playlist:before {
  content: "\e901"; }

.icon-tape:before {
  content: "\e66e"; }

.icon-headphones:before {
  content: "\e649"; }

.icon-Speaker:before {
  content: "\e658"; }

.icon-monitor:before {
  content: "\e659"; }

.icon-piano:before {
  content: "\e66f"; }

.icon-Vinyl:before {
  content: "\e65e"; }

.icon-turntable:before {
  content: "\e65f"; }

.icon-Levels:before {
  content: "\e65c"; }

.icon-Levels_4:before {
  content: "\e65d"; }

.icon-Jack:before {
  content: "\e657"; }

.icon-waves:before {
  content: "\e670"; }

.icon-stereo:before {
  content: "\e671"; }

.icon-signpost:before {
  content: "\e672"; }

.icon-gift:before {
  content: "\e674"; }

.icon-news:before {
  content: "\e67b"; }

.icon-ballpen:before {
  content: "\e67e"; }

.icon-wineglass:before {
  content: "\e67f"; }

.icon-ticketz:before {
  content: "\e680"; }

.icon-macbook:before {
  content: "\e681"; }

.icon-ipad:before {
  content: "\e682"; }

.icon-iphone:before {
  content: "\e683"; }

.icon-infinity:before {
  content: "\e684"; }

.icon-rollthe:before {
  content: "\e685"; }

.icon-aceshi:before {
  content: "\e68e"; }

.icon-spades:before {
  content: "\e68f"; }

.icon-diamonds:before {
  content: "\e690"; }

.icon-clubs:before {
  content: "\e691"; }

.icon-hearts:before {
  content: "\e692"; }

.icon-roulette:before {
  content: "\e693"; }

.icon-crown:before {
  content: "\e694"; }

.icon-pdf-doc:before {
  content: "\e900"; }

.icon-clipboard:before {
  content: "\e902"; }

.icon-email-o:before {
  content: "\e679"; }

.icon-rss-o:before {
  content: "\e676"; }

.icon-tumblr-o:before {
  content: "\e675"; }

.icon-mixcloud-o:before {
  content: "\e677"; }

.icon-soundcloud-o:before {
  content: "\e678"; }

.icon-soundcloud:before {
  content: "\e67a"; }

.icon-mixcloud:before {
  content: "\e903"; }

.icon-soundcloud2:before {
  content: "\e904"; }

.icon-github:before {
  content: "\e905"; }

.icon-codepen:before {
  content: "\e906"; }
