.nav {
  align-items: stretch;
  background: #ffffff;
  display: flex;
  min-height: 50px;
  position: relative;
  text-align: center;
  z-index: 2;
}

.nav > .container {
  align-items: stretch;
  display: flex;
  min-height: 50px;
  width: 100%;
}

.nav > .container > .nav-left > .nav-item:first-child:not(.is-tab) {
  padding-left: 0;
}

.nav > .container > .nav-right > .nav-item:last-child:not(.is-tab) {
  padding-right: 0;
}

.container > .nav > .nav-left > .nav-item:first-child:not(.is-tab) {
  padding-left: 0;
}

.container > .nav > .nav-right > .nav-item:last-child:not(.is-tab) {
  padding-right: 0;
}

.nav.has-shadow {
  box-shadow: 0 2px 3px rgba(26, 26, 26, 0.1);
}

.nav-left {
  align-items: stretch;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.nav-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 769px) {
  .nav-right {
    align-items: stretch;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}

.nav-item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.nav-item a {
  font-weight: bold;
  flex-grow: 1;
}

.nav-item img {
  max-height: 24px;
}

.nav-item .button + .button {
  margin-left: 10px;
}

.nav-item .badge:first-child {
  margin-right: 5px;
}

.nav-item .badge:last-child {
  margin-left: 5px;
}

.nav-item.is-white {
  border-color: transparent;
  color: #1a1a1a;
}

.nav-item.is-white a {
  color: #ffffff;
}

.nav-item.is-white a:hover {
  color: #1a1a1a;
}

.nav-item.is-white:hover,
.nav-item.is-white:focus {
  background: #ffffff;
  border-color: transparent;
  color: #1a1a1a;
}

.nav-item.is-white:active {
  border-color: transparent;
}

.nav-item.is-black {
  border-color: transparent;
  color: #ffffff;
}

.nav-item.is-black a {
  color: #1a1a1a;
}

.nav-item.is-black a:hover {
  color: #ffffff;
}

.nav-item.is-black:hover,
.nav-item.is-black:focus {
  background: #1a1a1a;
  border-color: transparent;
  color: #ffffff;
}

.nav-item.is-black:active {
  border-color: transparent;
}

.nav-item.is-red {
  border-color: transparent;
  color: findColorInvert(#ed0a3f);
}

.nav-item.is-red a {
  color: #ed0a3f;
}

.nav-item.is-red a:hover {
  color: findColorInvert(#ed0a3f);
}

.nav-item.is-red:hover,
.nav-item.is-red:focus {
  background: #ed0a3f;
  border-color: transparent;
  color: findColorInvert(#ed0a3f);
}

.nav-item.is-red:active {
  border-color: transparent;
}

.nav-item.is-light {
  border-color: transparent;
  color: #3a3a3a;
}

.nav-item.is-light a {
  color: #fafbfa;
}

.nav-item.is-light a:hover {
  color: #3a3a3a;
}

.nav-item.is-light:hover,
.nav-item.is-light:focus {
  background: #fafbfa;
  border-color: transparent;
  color: #3a3a3a;
}

.nav-item.is-light:active {
  border-color: transparent;
}

.nav-item.is-dark {
  border-color: transparent;
  color: #fafbfa;
}

.nav-item.is-dark a {
  color: #3a3a3a;
}

.nav-item.is-dark a:hover {
  color: #fafbfa;
}

.nav-item.is-dark:hover,
.nav-item.is-dark:focus {
  background: #3a3a3a;
  border-color: transparent;
  color: #fafbfa;
}

.nav-item.is-dark:active {
  border-color: transparent;
}

.nav-item.is-primary {
  border-color: transparent;
  color: findColorInvert(#2957a6);
}

.nav-item.is-primary a {
  color: #2957a6;
}

.nav-item.is-primary a:hover {
  color: findColorInvert(#2957a6);
}

.nav-item.is-primary:hover,
.nav-item.is-primary:focus {
  background: #2957a6;
  border-color: transparent;
  color: findColorInvert(#2957a6);
}

.nav-item.is-primary:active {
  border-color: transparent;
}

.nav-item.is-accent {
  border-color: transparent;
  color: findColorInvert(#49425a);
}

.nav-item.is-accent a {
  color: #49425a;
}

.nav-item.is-accent a:hover {
  color: findColorInvert(#49425a);
}

.nav-item.is-accent:hover,
.nav-item.is-accent:focus {
  background: #49425a;
  border-color: transparent;
  color: findColorInvert(#49425a);
}

.nav-item.is-accent:active {
  border-color: transparent;
}

.nav-item.is-success {
  border-color: transparent;
  color: findColorInvert(#3AA655);
}

.nav-item.is-success a {
  color: #3AA655;
}

.nav-item.is-success a:hover {
  color: findColorInvert(#3AA655);
}

.nav-item.is-success:hover,
.nav-item.is-success:focus {
  background: #3AA655;
  border-color: transparent;
  color: findColorInvert(#3AA655);
}

.nav-item.is-success:active {
  border-color: transparent;
}

.nav-item.is-alert {
  border-color: transparent;
  color: findColorInvert(#fce473);
}

.nav-item.is-alert a {
  color: #fce473;
}

.nav-item.is-alert a:hover {
  color: findColorInvert(#fce473);
}

.nav-item.is-alert:hover,
.nav-item.is-alert:focus {
  background: #fce473;
  border-color: transparent;
  color: findColorInvert(#fce473);
}

.nav-item.is-alert:active {
  border-color: transparent;
}

.nav-item.is-pastel {
  border-color: transparent;
  color: findColorInvert(#f9f9ef);
}

.nav-item.is-pastel a {
  color: #f9f9ef;
}

.nav-item.is-pastel a:hover {
  color: findColorInvert(#f9f9ef);
}

.nav-item.is-pastel:hover,
.nav-item.is-pastel:focus {
  background: #f9f9ef;
  border-color: transparent;
  color: findColorInvert(#f9f9ef);
}

.nav-item.is-pastel:active {
  border-color: transparent;
}

.nav-item.is-secondary {
  border-color: transparent;
  color: findColorInvert(#fbb041);
}

.nav-item.is-secondary a {
  color: #fbb041;
}

.nav-item.is-secondary a:hover {
  color: findColorInvert(#fbb041);
}

.nav-item.is-secondary:hover,
.nav-item.is-secondary:focus {
  background: #fbb041;
  border-color: transparent;
  color: findColorInvert(#fbb041);
}

.nav-item.is-secondary:active {
  border-color: transparent;
}

@media screen and (max-width: 768px) {
  .nav-item {
    justify-content: flex-start;
  }
}

.nav-item li:hover ul,
li.nav-item:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.nav-item li > ul,
li.nav-item > ul {
  padding: 0;
  position: absolute;
  top: 48px;
  right: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

.nav-item li > ul li,
li.nav-item > ul li {
  text-align: right;
  display: block;
  padding: 0.5em 1em 1em 0;
}

li.nav-item.is-white:hover ul {
  background: #ffffff;
}

li.nav-item.is-white > ul li {
  background: #ffffff;
  color: #1a1a1a;
}

li.nav-item.is-white > ul li a {
  color: #1a1a1a;
}

li.nav-item.is-white > ul li:hover {
  background: #1a1a1a;
}

li.nav-item.is-white > ul li a:hover {
  color: #ffffff;
}

li.nav-item.is-black:hover ul {
  background: #1a1a1a;
}

li.nav-item.is-black > ul li {
  background: #1a1a1a;
  color: #ffffff;
}

li.nav-item.is-black > ul li a {
  color: #ffffff;
}

li.nav-item.is-black > ul li:hover {
  background: #ffffff;
}

li.nav-item.is-black > ul li a:hover {
  color: #1a1a1a;
}

li.nav-item.is-red:hover ul {
  background: #ed0a3f;
}

li.nav-item.is-red > ul li {
  background: #ed0a3f;
  color: findColorInvert(#ed0a3f);
}

li.nav-item.is-red > ul li a {
  color: findColorInvert(#ed0a3f);
}

li.nav-item.is-red > ul li:hover {
  background: findColorInvert(#ed0a3f);
}

li.nav-item.is-red > ul li a:hover {
  color: #ed0a3f;
}

li.nav-item.is-light:hover ul {
  background: #fafbfa;
}

li.nav-item.is-light > ul li {
  background: #fafbfa;
  color: #3a3a3a;
}

li.nav-item.is-light > ul li a {
  color: #3a3a3a;
}

li.nav-item.is-light > ul li:hover {
  background: #3a3a3a;
}

li.nav-item.is-light > ul li a:hover {
  color: #fafbfa;
}

li.nav-item.is-dark:hover ul {
  background: #3a3a3a;
}

li.nav-item.is-dark > ul li {
  background: #3a3a3a;
  color: #fafbfa;
}

li.nav-item.is-dark > ul li a {
  color: #fafbfa;
}

li.nav-item.is-dark > ul li:hover {
  background: #fafbfa;
}

li.nav-item.is-dark > ul li a:hover {
  color: #3a3a3a;
}

li.nav-item.is-primary:hover ul {
  background: #2957a6;
}

li.nav-item.is-primary > ul li {
  background: #2957a6;
  color: findColorInvert(#2957a6);
}

li.nav-item.is-primary > ul li a {
  color: findColorInvert(#2957a6);
}

li.nav-item.is-primary > ul li:hover {
  background: findColorInvert(#2957a6);
}

li.nav-item.is-primary > ul li a:hover {
  color: #2957a6;
}

li.nav-item.is-accent:hover ul {
  background: #49425a;
}

li.nav-item.is-accent > ul li {
  background: #49425a;
  color: findColorInvert(#49425a);
}

li.nav-item.is-accent > ul li a {
  color: findColorInvert(#49425a);
}

li.nav-item.is-accent > ul li:hover {
  background: findColorInvert(#49425a);
}

li.nav-item.is-accent > ul li a:hover {
  color: #49425a;
}

li.nav-item.is-success:hover ul {
  background: #3AA655;
}

li.nav-item.is-success > ul li {
  background: #3AA655;
  color: findColorInvert(#3AA655);
}

li.nav-item.is-success > ul li a {
  color: findColorInvert(#3AA655);
}

li.nav-item.is-success > ul li:hover {
  background: findColorInvert(#3AA655);
}

li.nav-item.is-success > ul li a:hover {
  color: #3AA655;
}

li.nav-item.is-alert:hover ul {
  background: #fce473;
}

li.nav-item.is-alert > ul li {
  background: #fce473;
  color: findColorInvert(#fce473);
}

li.nav-item.is-alert > ul li a {
  color: findColorInvert(#fce473);
}

li.nav-item.is-alert > ul li:hover {
  background: findColorInvert(#fce473);
}

li.nav-item.is-alert > ul li a:hover {
  color: #fce473;
}

li.nav-item.is-pastel:hover ul {
  background: #f9f9ef;
}

li.nav-item.is-pastel > ul li {
  background: #f9f9ef;
  color: findColorInvert(#f9f9ef);
}

li.nav-item.is-pastel > ul li a {
  color: findColorInvert(#f9f9ef);
}

li.nav-item.is-pastel > ul li:hover {
  background: findColorInvert(#f9f9ef);
}

li.nav-item.is-pastel > ul li a:hover {
  color: #f9f9ef;
}

li.nav-item.is-secondary:hover ul {
  background: #fbb041;
}

li.nav-item.is-secondary > ul li {
  background: #fbb041;
  color: findColorInvert(#fbb041);
}

li.nav-item.is-secondary > ul li a {
  color: findColorInvert(#fbb041);
}

li.nav-item.is-secondary > ul li:hover {
  background: findColorInvert(#fbb041);
}

li.nav-item.is-secondary > ul li a:hover {
  color: #fbb041;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    background: #ffffff;
    box-shadow: 0 4px 7px rgba(26, 26, 26, 0.1);
    left: 0;
    display: none;
    right: 0;
    top: 100%;
    position: absolute;
  }
  .nav-menu .nav-item {
    border-top: 1px solid rgba(211, 214, 219, 0.5);
    padding: 10px;
  }
  .nav-menu.is-active {
    display: block;
  }
}
