/* Toggle */
.toggle-btn-left {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 1000;
  background: #FFF;
  opacity: .6;
  border-radius: 2px;
  padding-left: 4px;
  height: 24px;
}

.toggle-btn-right {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1000;
  background: #FFF;
  opacity: .6;
  border-radius: 2px;
  padding-left: 4px;
  height: 24px;
}

disable-scroll {
  overflow: hidden;
}

.toggle-window {
  position: fixed;
  top: 0;
  bottom: 110%;
  left: 0;
  right: 0;
  padding: 1em;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  background: #2d2d2d;
  overflow: scroll;
  -webkit-transition: opacity 200ms linear, bottom 0 linear 200ms;
  -moz-transition: opacity 200ms linear, bottom 0 linear 200ms;
  -o-transition: opacity 200ms linear, bottom 0 linear 200ms;
  transition: opacity 200ms linear, bottom 0 linear 200ms;
}

.toggle-window-open #toggle-window {
  bottom: 0;
  opacity: 1;
  -webkit-transition: opacity 200ms linear, bottom 0 linear;
  -moz-transition: opacity 200ms linear, bottom 0 linear;
  -o-transition: opacity 200ms linear, bottom 0 linear;
  transition: opacity 200ms linear, bottom 0 linear;
}
