html {
  background: $body-background;
  font-size: $size-text;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: $font-text;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: $font-code;
  line-height: 1.25;
}

body {
  background-color: $paper;
  color: $text;
  font-size: 1rem;
  font-weight: $weight-normal;
  line-height: 1.42857;
}

p {
  font-size: $size-text;
}

// Inline

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  transition: none $speed $easing;
  &:hover {
    color: $link-hover;
  }
}

code {
  font-size: 12px;
  font-weight: normal;
  padding: 1px 2px 2px;
}

hr {
  border-top-color: $border;
  margin: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: $size-small;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
//   color: $text-strong;
  font-weight: $weight-bold;
}

// Block

pre {
  white-space: pre;
  word-wrap: normal;
  code {
    display: block;
    overflow-x: auto;
    padding: 4px 5px;

  }
}

table {
  width: 100%;
  td,
  th {
    text-align: left;
    vertical-align: top;
  }
  th {
    color: $text-strong;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	  font-family: $font-headline;
    color: $primary;
    font-weight: 300;
    line-height: 1.125;
    margin-bottom: 20px;
    }


  h1{ 
    font-size: 2.2em;
    font-weight: 500;
    }
  h2{
    font-size: 1.75em;
    font-weight: 600;
    }
  h3{
    font-size: 1.5em;
    }
  h4{
    font-size: 1.25em;
    }
  h5{
    font-size: 1.125em;
    font-weight: 400;
    }
  h6{
    font-size: 1em;
    }
