%footer.footer
  %h1
    %a{:href => "index.html"}
      %img{:src => "../art/flexspace-logo-lrg-white.svg", :width => "120"}/
  .columns
    .column.is-1-8.is-1-2-mobile
      .block
        %a.button.is-fullwidth.is-primary.is-inverted{:href => "page.html"} page
        %a.button.is-primary{:href => "page.html#layout"} layout
        %a.button.is-primary{:href => "page.html#container"} container
        %a.button.is-primary{:href => "page.html#sizes"} sizes
        %a.button.is-primary{:href => "page.html#hero"} hero
        %a.button.is-primary{:href => "page.html#helpers"} helpers
        %a.button.is-primary{:href => "page.html#display"} display
    .column.is-1-8.is-1-2-mobile
      .block
        %a.button.is-fullwidth.is-primary.is-inverted{:href => "copy.html"} copy
        %a.button.is-primary{:href => "copy.html#content"} content
        %a.button.is-primary{:href => "copy.html#badges"} badges
        %a.button.is-primary{:href => "copy.html#burst"} burst
        %a.button.is-primary{:href => "copy.html#messages"} messages
        %a.button.is-primary{:href => "copy.html#notifications"} notifications
        %a.button.is-primary{:href => "copy.html#code"} code
    .column.is-1-8.is-1-2-mobile
      .block
        %a.button.is-fullwidth.is-primary.is-inverted{:href => "grid.html"} grid
        %a.button.is-primary.is-active{:href => "grid.html#columns"} columns
        %a.button.is-primary{:href => "grid.html#sizing"} sizing
        %a.button.is-primary.is-disabled{:href => "grid.html#flex"} flex
        %a.button.is-primary{:href => "grid.html#isotope"} isotope
        %a.button.is-primary{:href => "grid.html#tables"} tables
    .column.is-1-8.is-1-2-mobile
      .block
        %a.button.is-fullwidth.is-primary.is-inverted{:href => "modules.html"} modules
        %a.button.is-primary{:href => "modules.html#box"} box
        %a.button.is-primary{:href => "modules.html#media"} media
        %a.button.is-primary{:href => "modules.html#mod"} mod
        %a.button.is-primary.is-disabled{:href => "modules.html#gallery"} gallery
        %a.button.is-primary.is-disabled{:href => "modules.html#modal"} modal
    .column.is-1-8.is-1-2-mobile
      .block
        %a.button.is-fullwidth.is-primary.is-inverted{:href => "ui.html"} ui
        %a.button.is-primary{:href => "ui.html#button"} button
        %a.button.is-primary{:href => "ui.html#nav"} nav
        %a.button.is-primary.is-disabled{:href => "ui.html#tabs"} tabs
        %a.button.is-primary.is-disabled{:href => "ui.html#panel"} panel
        %a.button.is-primary.is-disabled{:href => "ui.html#menu"} menu
        %a.button.is-primary.is-disabled{:href => "ui.html#form"} form
        %a.button.is-primary.is-disabled{:href => "ui.html#pagination"} pagination
    .column.is-1-8.is-1-2-mobile
      .block
        %a.button.is-fullwidth.is-primary.is-inverted{:href => "art.html"} art
        %a.button.is-primary{:href => "art.html#palette"} palette
        %a.button.is-primary{:href => "art.html#icons"} icons
        %a.button.is-primary.is-disabled{:href => "art.html#logos"} logos
        %a.button.is-primary{:href => "art.html#backgrounds"} backgrounds
    .column.is-1-8.is-1-2-mobile
      .block
        %a.button.is-fullwidth.is-primary.is-inverted{:href => "animations.html"} animations
        %a.button.is-primary{:href => "ui.html#loaders"} loaders
        %a.button.is-primary{:href => "ui.html#progress"} progress
        %a.button.is-primary{:href => "animations.html#animate"} animate.css
    .column.is-1-8.is-1-2-mobile
      .block
        %a.button.is-fullwidth.is-primary.is-inverted{:href => "variables.html"} variables
        %a.button.is-primary{:href => "variables.html#Colors"} colors
        %a.button.is-primary{:href => "variables.html#Type"} type
        %a.button.is-primary{:href => "variables.html#Layout"} layout
%script{ :src => "../js/jquery.js"}
%script{ :src => "../js/highlight.js"}
%script hljs.initHighlightingOnLoad();
%script{:src => "../js/clipboard.js"}
%script{:src => "../js/isotope.js"}
%script{:src => "../js/imagesloaded.js"}
%script{:src => "../js/smartresize.js"}
%script{:src => "../js/flexspace.js"}
%script{:src => "../js/flexview.js"}

