= Haml::Engine.new(File.read("/Users/slee/Sites/flexspace/haml/header.haml")).render
.loading.is-primary
  .loading-circles
%section.hero.is-primary
  .has-flxs-head-3
    .hero-body
      .container.has-text-centered
        %h1.title Variables
        .subtitle There are some things you can change.
    .hero-foot
      .container
        .block.has-text-centered
          %a.button.is-primary{:href => "#Colors"} colors
          %a.button.is-primary{:href => "#Type"} type
          %a.button.is-primary{:href => "#Layout"} layout
          %a.button.is-primary{:href => "#Backgrounds"} backgrounds
          %a.button.is-primary{:href => "#Mappings"} mappings
%section#Colors.section
  .container
    %h1 Colors
    %hr
      .box.content.is-light
        %p Adjustable color palette.
      .columns
        .column.is-1-2
          %table.table.is-bordered.is-striped.is-narrow
            %tbody
              %tr
                %th Variable
                %th Value
                %th Preview
              %tr
                %td{:style => "width: 35%;"} $primary
                %td #2957a6
                %td{:style => "width: 20%;background-color: #2957a6"} 
              %tr
                %td $secondary
                %td #fbb041
                %td{:style => "background-color: #fbb041"} 
              %tr
                %td $accent
                %td #49425a
                %td{:style => "background-color: #49425a"} 
              %tr
                %td $danger
                %td #ed0a3f
                %td{:style => "background-color: #ed0a3f"} 
              %tr
                %td $alert
                %td #fce473
                %td{:style => "background-color: #fce473"} 
              %tr
                %td $success
                %td #008080
                %td{:style => "background-color: #008080"} 
              %tr
                %td $pastel
                %td #f9f9ef
                %td{:style => "background-color: #f9f9ef"} 
              %tr
                %td $paper
                %td #fcfcfc
                %td{:style => "background-color: #fcfcfc"} 
              %tr
                %td $text
                %td #3a3a3a
                %td{:style => "background-color: #3a3a3a"} 
  
        .column.is-1-2
          %table.table.is-bordered.is-striped.is-narrow
            %tbody
              %tr
                %th Variable
                %th Value
                %th Preview
              %tr
                %td{:style => "width: 35%;"}  $light
                %td #fafbfa
                %td{:style => "width: 20%;background-color: #fafbfa"} 
              %tr
                %td $dark
                %td #2a2a2a
                %td{:style => "background-color: #2a2a2a"} 
              %tr
                %td $white
                %td #ffffff
                %td{:style => "background-color: #ffffff"} 
              %tr
                %td $grey-lighter
                %td #fafbfa
                %td{:style => "background-color: #fafbfa"} 
              %tr
                %td $grey-light
                %td #d3d6db
                %td{:style => "background-color: #d3d6db"} 
              %tr
                %td $grey
                %td #aeb1b5
                %td{:style => "background-color: #aeb1b5"} 
              %tr
                %td $grey-dark
                %td #3a3a3a
                %td{:style => "background-color: #3a3a3a"} 
              %tr
                %td $grey-darker
                %td #2a2a2a
                %td{:style => "background-color: #2a2a2a"} 
              %tr
                %td $black
                %td #1a1a1a
                %td{:style => "background-color: #1a1a1a"} 
%section#Type.section
  .container
    %h1 Type
    %hr
      .box.content.is-light
        %p Fonts, sizes, and weights.
      .columns
        .column.is-1-2
          %table.table.is-bordered.is-striped.is-narrow
            %tbody
              %tr
                %th Variable
                %th Value
                %th Preview
              %tr
                %td $font-headline
                %td "DINPro", sans-serif !default;
                %td 
                  %h1 DINPro
              %tr
                %td $font-button
                %td "DINPro", sans-serif !default;
                %td.button DINPro
              %tr
                %td $font-text
                %td "DINPro", sans-serif !default;
                %td.content DINPro
              %tr
                %td $font-code
                %td "Mononoki", monospace !default;
                %td.code{:style => "font-family:'Mononoki', monospace;"} Mononoki
              %tr
                %td $weight-normal
                %td 400;
                %td{:style => "font-size: 18px;font-weight: 400;"} 400
              %tr
                %td $weight-bold
                %td 700;
                %td{:style => "font-size: 18px;font-weight: 700;"} 700
              %tr
                %td $weight-title-normal
                %td 300;
                %td{:style => "font-size: 18px;font-weight: 300;"} 300
              %tr
                %td $weight-title-bold
                %td 500;
                %td{:style => "font-size: 18px;font-weight: 500;"} 500
        .column.is-1-2
          %table.table.is-bordered.is-striped.is-narrow
            %tbody
              %tr
                %th Variable
                %th Value
                %th Preview
              %tr
                %td $size-xlrg
                %td 48px;
                %td{:style => "font-size: 48px;"} 48px
              %tr
                %td $size-lrg
                %td 40px;
                %td{:style => "font-size: 40px;"} 40px
              %tr
                %td $size-big
                %td 28px;
                %td{:style => "font-size: 28px;"} 28px
              %tr
                %td $size-med
                %td 24px;
                %td{:style => "font-size: 24px;"} 24px
              %tr
                %td $size-title
                %td 18px;
                %td{:style => "font-size: 18px;"} 18px
              %tr
                %td $size-text
                %td 14px;
                %td{:style => "font-size: 14px;"} 14px
              %tr
                %td $size-small
                %td 11px;
                %td{:style => "font-size: 11px;"} 11px
%section#Layout.section
  .container
    %h1 Layout
    %hr
      .box.content.is-light
        %p 
      .columns
        .column
          %table.table.is-bordered.is-striped.is-narrow
            %tbody
              %tr
                %th Variable
                %th Value
              %tr
                %td $phone
                %td 481px
              %tr
                %td $tablet
                %td 769px
              %tr
                %td $desktop
                %td 980px
              %tr
                %td $widescreen
                %td 1180px
              %tr
                %td $column-gap
                %td 20px
              %tr
                %td $nav-height
                %td 50px
        .column
          %table.table.is-bordered.is-striped.is-narrow
            %tbody
              %tr
                %th Variable
                %th Value
              %tr
                %td $easing
                %td ease-out
              %tr
                %td $radius
                %td 3px
              %tr
                %td $speed
                %td 86ms
%section#Backgrounds.section
  .container
    %h1 Backgrounds
    %hr
      .columns
        .column.is-1-2
          %table.table.is-bordered.is-striped.is-narrow
            %tbody
              %tr
                %th Variable
                %th Value
                %th Preview
              %tr
                %td{:style => "width: 20%;"} $flxs-hero-1
                %td url('../art/blue-hero-03.svg') ;
                %td.has-flxs-hero-1{:style => "height: 60px;"}        
              %tr
                %td{:style => "width: 20%;"} $flxs-hero-2
                %td url('../art/blue-hero-02.svg') ;
                %td.has-flxs-hero-2{:style => "height: 60px;"}        
              %tr
                %td{:style => "width: 20%;"} $flxs-hero-3
                %td url('../art/gear-lined.svg') ;
                %td.has-flxs-hero-3{:style => "height: 60px;"}        
              %tr
                %td{:style => "width: 20%;"} $flxs-hero-4
                %td url('../art/gear-bknd.svg') ;
                %td.has-flxs-hero-4{:style => "height: 60px;"}        
              %tr
                %td{:style => "width: 20%;"} $bkd-image-1
                %td url('../art/img-4998.jpg') ;
                %td.has-bkd-image-1{:style => "height: 60px;"}        
              %tr
                %td{:style => "width: 20%;"} $bkd-image-2
                %td url('../art/IMG_7001.jpg') ;
                %td.has-bkd-image-2{:style => "height: 60px;"}        
              %tr
                %td{:style => "width: 20%;"} $bkd-image-3
                %td url('../art/IMG_2051.jpg') ;
                %td.has-bkd-image-3{:style => "height: 60px;"}        
              %tr
                %td{:style => "width: 20%;"} $bkd-image-4
                %td url('../art/IMG_8952.jpg') ;
                %td.has-bkd-image-4{:style => "height: 60px;"}        
        .column.is-1-2
          %table.table.is-bordered.is-striped.is-narrow
            %tbody
              %tr
                %th Variable
                %th Value
                %th Preview
              %tr
                %td{:style => "width: 20%;"} $flxs-head-1
                %td url('../art/blue-dot-01.svg') ;
                %td.has-flxs-head-1{:style => "height: 60px;"}
              %tr
                %td{:style => "width: 20%;"} $flxs-head-2
                %td url('../art/blue-dot-02.svg') ;
                %td.has-flxs-head-2{:style => "height: 60px;"}
              %tr
                %td{:style => "width: 20%;"} $flxs-head-3
                %td url('../art/blue-dot-03.svg') ;
                %td.has-flxs-head-3{:style => "height: 60px;"}
              %tr
                %td{:style => "width: 20%;"} $flxs-head-4
                %td url('../art/blue-dot-04.svg') ;
                %td.has-flxs-head-4{:style => "height: 60px;"}
              %tr
                %td{:style => "width: 20%;"} $bkd-pattern-1
                %td url('../art/radiate.svg') ;
                %td.has-bkd-pattern-1{:style => "height: 60px;"}
              %tr
                %td{:style => "width: 20%;"} $bkd-pattern-2
                %td url('../art/dot-space-2.svg') ;
                %td.has-bkd-pattern-2{:style => "height: 60px;"}
              %tr
                %td{:style => "width: 20%;"} $bkd-pattern-3
                %td url('../art/dot-space-3.svg') ;
                %td.has-bkd-pattern-3{:style => "height: 60px;"}
              %tr
                %td{:style => "width: 20%;"} $bkd-pattern-4
                %td url('../art/dot-space-4.svg') ;
                %td.has-bkd-pattern-4{:style => "height: 60px;"}
%section#Mappings.section
  .container
    %h1 Mappings
    %hr
      .box.content.is-light
        %p 
      .columns
        .column.is-1-3
          %table.table.is-bordered.is-striped.is-narrow
            %tbody
              %tr
                %th Variable
                %th Value
              %tr
                %td{:style => "width: 50%;"}  $primary-invert
                %td findColorInvert($primary)
              %tr
                %td $accent-invert
                %td findColorInvert($accent)
              %tr
                %td $success-invert
                %td findColorInvert($success)
              %tr
                %td $alert-invert
                %td findColorInvert($alert)
              %tr
                %td $secondary-invert
                %td findColorInvert($secondary)
              %tr
                %td $light-invert
                %td $dark
              %tr
                %td $dark-invert
                %td $light
              %tr
                %td $text-invert
                %td findColorInvert($text)
              %tr
                %td $text-light
                %td $grey
              %tr
                %td $text-strong
                %td $grey-darker 
              %tr
                %td $code
                %td $red
              %tr
                %td $code-background
                %td $background
              %tr
                %td $pre
                %td $text
              %tr
                %td $pre-background
                %td $background
        .column.is-1-3
          %table.table.is-bordered.is-striped.is-narrow
            %tbody
              %tr
                %th Variable
                %th Value
              %tr
                %td{:style => "width: 50%;"} $link
                %td $primary
              %tr
                %td $link-invert
                %td $primary-invert
              %tr
                %td $link-visited
                %td $grey-darker
              %tr
                %td $link-hover
                %td $dark
              %tr
                %td $link-hover-background
                %td $primary
              %tr
                %td $link-hover-border
                %td $primary
              %tr
                %td $link-active
                %td $grey-darker
              %tr
                %td $link-active-border
                %td $accent 
              %tr
                %td $body-background
                %td $grey-lighter 
              %tr
                %td $background
                %td $grey-lighter
              %tr
                %td $border
                %td $grey-light
              %tr
                %td $border-hover
                %td $grey
        .column.is-1-3
          %table.table.is-bordered.is-striped.is-narrow
            %tbody
              %tr
                %th Variable
                %th Value
              %tr
                %td{:style => "width: 50%;"} $control
                %td $text-strong
              %tr
                %td $control-background
                %td $text-invert
              %tr
                %td $control-border
                %td $border
              %tr
                %td $control-hover
                %td $link-hover
              %tr
                %td $control-hover-border
                %td $border-hover
              %tr
                %td $control-active
                %td $link
              %tr
                %td $control-active-background
                %td $link
              %tr
                %td $control-active-background-invert
                %td $link-invert
              %tr
                %td $control-active-border
                %td $link
= Haml::Engine.new(File.read("/Users/slee/Sites/flexspace/haml/footer.haml")).render