.has-bkd-hero-1 { background: $bkd-hero-1; background-size: cover; background-position: center;}
.has-bkd-image-1 { background: $bkd-image-1; background-size: cover; background-position: center;}

.has-bkd-pattern-1 { background: $bkd-pattern-1; background-size: cover; background-position: center;}
.has-bkd-pattern-2 { background: $bkd-pattern-2; background-size: cover; background-position: center;}
.has-bkd-pattern-3 { background: $bkd-pattern-3; background-size: cover; background-position: center;}




#helpers .container {margin-bottom: 20px;}
.header .continer { min-height: 0; }
.highlight { background-color: transparent; }

.code-blu { background-color: #152335; color: #f0f0f0; width: 100%; text-align: center; font-size: 12px; font-weight: bold; padding: .5em;}
.code-blk { background-color: #2a2a2a; color: #f0f0f0; width: 100%; text-align: center; font-size: 12px; font-weight: bold; padding: .5em;}
.code-prp { background-color: #321536; color: #f0f0f0; width: 100%; text-align: center; font-size: 12px; font-weight: bold; padding: .5em;}
.code-org { background-color: #74361f; color: #f0f0f0; width: 100%; text-align: center; font-size: 12px; font-weight: bold; padding: .5em;}
.code-red { background-color: #36151a; color: #f0f0f0; width: 100%; text-align: center; font-size: 12px; font-weight: bold; padding: .5em;}


.to-edges { justify-content: space-between; }
.items-centered { justify-content: space-around; }

.purple { background-color: #321536; }
.red { background-color: #36151a; }
.orange { background-color: #74361f; }