.flex-display {
	display:flex;
}
//parent
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-column-reverse {
  flex-direction: column-reverse;
}
.flex-wrap-nowrap{
  flex-wrap: nowrap;
}
.flex-wrap-wrap{
  flex-wrap: wrap;
}
.flex-wrap-wrap-reverse{
  flex-wrap: wrap-reverse;
}
.justify-content-flex-start {
  justify-content: flex-start;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-stretch {
  justify-content: stretch;
}
.align-items-flex-start {
  align-items: flex-start;
}
.align-items-flex-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-stretch {
  align-items: stretch;
}

$params: ( flex-start, flex-end, center, space-between, space-around, stretch );
@each $param in $params {
    .#{align-content}-#{$param} {
        align-content: $param;
    }
}

@for $i from 1 through 3 {
  .#{order}-#{$i} {
    order: $i;                 
    }
}

$params: ( auto, flex-start, flex-end, center, baseline, stretch );
@each $param in $params {
    .#{align-self}-#{$param} {
        align-self: $param;
    }
}

.flex-grow {
  flex: 1;
}
.flex-shrink {
  flex: 0;
}
.flex-none {
  flex: none;
}

