.badge {
  align-items: center;
  background: $background;
  border-radius: 290486px;
  color: $text;
  display: inline-flex;
  font-size: 12px;
  height: 24px;
  justify-content: center;
  line-height: 16px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
  white-space: nowrap;
  .delete {
    margin-left: 4px;
    margin-right: -6px;
  }
  &:not(.is-large) {
    .delete {
      @extend .delete.is-small;
    }
  }
  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      background: $color;
      color: $color-invert;      
     } 
   }

  // Sizes
  &.is-small {
    font-size: $size-small;
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
  }
  &.is-medium {
    font-size: $size-normal;
    height: 32px;
    padding-left: 14px;
    padding-right: 14px;
  }
  &.is-large {
    font-size: $size-5;
    height: 40px;
    line-height: 24px;
    padding-left: 18px;
    padding-right: 18px;
    .delete {
      margin-left: 4px;
      margin-right: -8px;
    }
  }
}


.burst { width: 80px; height: 80px; position: relative;}

.burst-12 { width: 60px; height: 60px; position: absolute; text-align: center;   @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      background: $color;
      color: $color-invert;      
     } 
   }
}
.burst-12.is-red{ background: $red; color: $light; }


.burst-12:before, .burst-12:after { content: ""; position: absolute; top: 0; left: 0; height: 60px; width: 60px; }



.burst-12.is-black:before, .burst-12.is-black:after { background: $black; }
.burst-12.is-light:before, .burst-12.is-light:after { background: $light; color: $dark; }
.burst-12.is-dark:before, .burst-12.is-dark:after { background: $dark; }
.burst-12.is-red:before, .burst-12.is-red:after { background: $red; }
.burst-12.is-primary:before, .burst-12.is-primary:after  { background: $primary; }
.burst-12.is-accent:before, .burst-12.is-accent:after { background: $accent; }
.burst-12.is-success:before, .burst-12.is-success:after { background: $success; }
.burst-12.is-alert:before, .burst-12.is-alert:after { background: $alert; }
.burst-12.is-secondary:before, .burst-12.is-secondary:after{ background: $secondary; }

.burst-12:before { -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg); }
.burst-12:after { -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -ms-transform: rotate(60deg); -o-transform: rotate(60deg); }
.burst-12 p { position: relative; z-index: 98; font-size: .8em; font-weight:bold; text-transform: uppercase; padding-top: 1.2em; line-height: 1em; }

