/* Preloader */
#header-load {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  text-align: center;
  /* change if the mask should have another color then white */
  z-index: 999999;
  /* makes sure it stays on top */ }

#header-load h3 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100;
  color: #ffffff; }

#hero-load {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary;
  text-align: center;
  /* change if the mask should have another color then white */
  z-index: 999;
  /* makes sure it stays on top */ }

#hero-load h3 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100;
  color: #ffffff; }

.circle-load {
  margin: 6em auto;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

.circle-load, .circle-load:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

.imgload {
  position: relative;
  text-align: center;
  /* change if the mask should have another color then white */
  z-index: 99999;
  /* makes sure it stays on top */ }

.imgload h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 100;
  color: #ffffff; }

.smload {
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

.smload, .smload:after {
  border-radius: 50%;
  width: 4em;
  height: 4em; }

.is-loading {
  margin: 6em auto;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }
  
  @-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

