// Editable Variables

// Colors
//Palette
$primary: #2957a6 !default;
$secondary: #fbb041 !default;
$accent: #49425a !default;
$pastel: #f9f9ef !default;
$paper: #fcfcfc !default;

//Greyscale
$black: #1a1a1a !default;
$grey-darker: #2a2a2a !default;
$grey-dark: #3a3a3a !default;
$grey: #aeb1b5 !default;
$grey-light: #d3d6db !default;
$grey-lighter: #fafbfa !default;
$white: #ffffff !default;

//Crayon
$red: #ed0a3f !default;
$brick: #C62D42 !default;
$orange: #FF8833 !default;
$maize: #F2C649 !default;
$yellow: #fce473 !default;
$olive: #14b1c4 !default;
$green: #3AA655 !default;
$teal: #008080 default;
$blue: #0066FF !default;
$cobalt: #8C90C8 !default;
$violet: #8359a3 !default;
$sepia: #9E5B40 !default;
$umber: #665233 default;

//UI
$success: $green !default;
$alert: $yellow !default;
$light: $grey-lighter !default;
$dark: $grey-dark !default;
$text: $grey-dark !default;

//Type
$font-headline: "DINPro", sans-serif !default;
$font-button: "DINPro", sans-serif !default;
$family-sans-serif: "DINPro", sans-serif !default;
$family-monospace: "Mononoki", "Source Code Pro", "Monaco", monospace !default;
$size-1: 48px !default;
$size-2: 40px !default;
$size-3: 28px !default;
$size-4: 24px !default;
$size-5: 18px !default;
$size-6: 14px !default;
$size-7: 11px !default;
$weight-normal: 400 !default;
$weight-bold: 700 !default;
$weight-title-normal: 300 !default;
$weight-title-bold: 500 !default;

//Layout
$phone: 481px !default;
$tablet: 769px !default;
$desktop: 980px !default;
$widescreen: 1180px !default;
$column-gap: 20px !default;
$nav-height: 50px !default;

// Miscellaneous

$easing: ease-out !default;
$speed: 86ms !default;
$btn-radius: 2px !default;
$box-radius: 0px !default;
$radius: 2px !default;

// Images

$flxs-hero-1: url('../art/blue-hero-01.svg') ; 
$flxs-hero-2: url('../art/blue-hero-02.svg') ; 
$flxs-hero-3: url('../art/blue-hero-03.svg') ;
$flxs-hero-4: url('../art/blue-hero-03.svg') ; 

$bkd-image-1: url('../images/img-4998.jpg');
$bkd-image-2: url('../images/IMG_7001.jpg');
$bkd-image-3: url('../images/IMG_2051.jpg');
$bkd-image-4: url('../images/IMG_8952.jpg');

$flxs-head-1: url('../art/blue-dot-01.svg') ; 
$flxs-head-2: url('../art/blue-dot-02.svg') ; 
$flxs-head-3: url('../art/blue-dot-03.svg') ; 
$flxs-head-4: url('../art/blue-dot-04.svg') ; 

$bkd-pattern-1: url('../art/dot-space-1.svg');
$bkd-pattern-2: url('../art/dot-space-2.svg');
$bkd-pattern-3: url('../art/dot-space-3.svg');
$bkd-pattern-4: url('../art/dot-space-4.svg');



// Invert colors

$primary-invert: findColorInvert($primary) !default;
$secondary-invert: findColorInvert($secondary) !default;
$accent-invert: findColorInvert($accent) !default;
$success-invert: findColorInvert($success) !default;
$alert-invert: findColorInvert($alert) !default;
$light-invert: $dark !default;
$dark-invert: $light !default;
// General colors

$body-background: $grey-lighter !default;
$background: $grey-lighter !default;
$border: $grey-light !default;
$border-hover: $grey !default;
// Text colors

$text-invert: findColorInvert($text) !default;
$text-light: $grey !default;
$text-strong: $grey-darker !default;
// Link colors

$link: $primary !default;
$link-invert: $primary-invert !default;
$link-visited: $accent !default;
$link-hover: $grey-darker !default;
$link-hover-background: $grey-lighter !default;
$link-hover-border: $grey-darker !default;
$link-active: $grey-darker !default;
$link-active-border: $grey-darker !default;
// Control colors

$control: $text-strong !default;
$control-background: $text-invert !default;
$control-border: $border !default;
$control-hover: #1a1a1a !default;
$control-hover-border: $border-hover !default;
$control-active: $link !default;
$control-active-background: $link !default;
$control-active-background-invert: $link-invert !default;
$control-active-border: $link !default;
// Typography

$family-primary: $family-sans-serif !default;
$family-code: $family-monospace !default;
$size-small: $size-7 !default;
$size-normal: $size-6 !default;
$size-medium: $size-5 !default;
$size-large: $size-3 !default;
$size-huge: $size-1 !default;
// 4. Lists and maps

$colors: (white: ($white, $black), black: ($black, $white), light: ($light, $light-invert), dark: ($dark, $dark-invert), primary: ($primary, $primary-invert), accent: ($accent, $accent-invert), success: ($success, $success-invert), alert: ($alert, $alert-invert), secondary: ($secondary, $secondary-invert)) !default;
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 !default;