.column {
  flex: 1;
  padding: 10px;

  .columns.is-mobile > &.is-narrow {
    flex: none;
  }

  .columns.is-mobile > &.is-full {
    flex: none;
    width: 100%;
  }

  .columns.is-mobile > &.is-3-4 {
    flex: none;
    width: 75%;
  }

  .columns.is-mobile > &.is-2-3 {
    flex: none;
    width: 66.6666%;
  }

  .columns.is-mobile > &.is-1-2 {
    flex: none;
    width: 50%;
  }

  .columns.is-mobile > &.is-1-3 {
    flex: none;
    width: 33.3333%;
  }

  .columns.is-mobile > &.is-1-4 {
    flex: none;
    width: 25%;
  }

  .columns.is-mobile > &.is-offset-3-4 {
    margin-left: 75%;
  }

  .columns.is-mobile > &.is-offset-2-3 {
    margin-left: 66.6666%;
  }

  .columns.is-mobile > &.is-offset-1-2 {
    margin-left: 50%;
  }

  .columns.is-mobile > &.is-offset-1-3 {
    margin-left: 33.3333%;
  }

  .columns.is-mobile > &.is-offset-1-4 {
    margin-left: 25%;
  }

  @for $i from 1 through 12 {
    .columns.is-mobile > &.is-#{$i} {
      flex: none;
      width: $i / 12 * 100%;
    }

    .columns.is-mobile > &.is-offset-#{$i} {
      margin-left: $i / 12 * 100%;
    }
  }

  @include mobile {
    &.is-narrow-mobile {
      flex: none;
    }

    &.is-full-mobile {
      flex: none;
      width: 100%;
    }

    &.is-3-4-mobile {
      flex: none;
      width: 75%;
    }

    &.is-2-3-mobile {
      flex: none;
      width: 66.6666%;
    }

    &.is-1-2-mobile {
      flex: none;
      width: 50%;
    }

    &.is-1-3-mobile {
      flex: none;
      width: 33.3333%;
    }

    &.is-1-4-mobile {
      flex: none;
      width: 25%;
    }

    &.is-offset-3-4-mobile {
      margin-left: 75%;
    }

    &.is-offset-2-3-mobile {
      margin-left: 66.6666%;
    }

    &.is-offset-1-2-mobile {
      margin-left: 50%;
    }

    &.is-offset-1-3-mobile {
      margin-left: 33.3333%;
    }

    &.is-offset-1-4-mobile {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &.is-#{$i}-mobile {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.is-offset-#{$i}-mobile {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @include tablet {
    &.is-narrow,
    &.is-narrow-tablet {
      flex: none;
    }

    &.is-full,
    &.is-full-tablet {
      flex: none;
      width: 100%;
    }

    &.is-3-4,
    &.is-3-4-tablet {
      flex: none;
      width: 75%;
    }

    &.is-2-3,
    &.is-2-3-tablet {
      flex: none;
      width: 66.6666%;
    }

    &.is-1-2,
    &.is-1-2-tablet {
      flex: none;
      width: 50%;
    }

    &.is-1-3,
    &.is-1-3-tablet {
      flex: none;
      width: 33.3333%;
    }

    &.is-1-4,
    &.is-1-4-tablet {
      flex: none;
      width: 25%;
    }

    &.is-offset-3-4,
    &.is-offset-3-4-tablet {
      margin-left: 75%;
    }

    &.is-offset-2-3,
    &.is-offset-2-3-tablet {
      margin-left: 66.6666%;
    }

    &.is-offset-1-2,
    &.is-offset-1-2-tablet {
      margin-left: 50%;
    }

    &.is-offset-1-3,
    &.is-offset-1-3-tablet {
      margin-left: 33.3333%;
    }

    &.is-offset-1-4,
    &.is-offset-1-4-tablet {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &.is-#{$i},
      &.is-#{$i}-tablet {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.is-offset-#{$i},
      &.is-offset-#{$i}-tablet {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @include desktop {
    &.is-narrow-desktop {
      flex: none;
    }

    &.is-full-desktop {
      flex: none;
      width: 100%;
    }

    &.is-3-4-desktop {
      flex: none;
      width: 75%;
    }

    &.is-2-3-desktop {
      flex: none;
      width: 66.6666%;
    }

    &.is-1-2-desktop {
      flex: none;
      width: 50%;
    }

    &.is-1-3-desktop {
      flex: none;
      width: 33.3333%;
    }

    &.is-1-4-desktop {
      flex: none;
      width: 25%;
    }

    &.is-offset-3-4-desktop {
      margin-left: 75%;
    }

    &.is-offset-2-3-desktop {
      margin-left: 66.6666%;
    }

    &.is-offset-1-2-desktop {
      margin-left: 50%;
    }

    &.is-offset-1-3-desktop {
      margin-left: 33.3333%;
    }

    &.is-offset-1-4-desktop {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &.is-#{$i}-desktop {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.is-offset-#{$i}-desktop {
        margin-left: $i / 12 * 100%;
      }
    }
  }
}

.columns {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;

  &:last-child {
    margin-bottom: -10px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  // Modifiers
  &.is-centered {
    justify-content: center;
  }

  &.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    & > .column {
      margin: 0;
      padding: 0;
    }
  }

  &.is-grid {
    // Responsiveness
    @include tablet {
      flex-wrap: wrap;

      & > .column {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
        padding: 10px;
        width: 33.3333%;

        & + .column {
          margin-left: 0;
        }
      }
    }
  }

  &.is-mobile {
    display: flex;
  }

  &.is-multiline {
    flex-wrap: wrap;
  }

  &.is-vcentered {
    align-items: center;
  }

  // Responsiveness
  @include tablet {
    &:not(.is-desktop) {
      display: flex;
    }
  }


  @include desktop {
    // Modifiers
    &.is-desktop {
      display: flex;
    }
  }
}

.tile {
  align-items: stretch;
  flex: 1;

  // Modifiers
  &.is-ancestor {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;

    &:last-child {
      margin-bottom: -10px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &.is-child {
    margin: 0 !important;
  }

  &.is-parent {
    padding: 10px;
  }

  &.is-vertical {
    flex-direction: column;

    & > .tile.is-child:not(:last-child) {
      margin-bottom: 20px !important;
    }
  }

  // Responsiveness
  @include tablet {
    &:not(.is-child) {
      display: flex;
    }

    @for $i from 1 through 12 {
      &.is-#{$i} {
        flex: none;
        width: $i / 12 * 100%;
      }
    }
  }
}