.footer {
  background: $grey-darker;
   color: $grey-lighter;
  padding: 40px 20px 80px;

  a {
    color: $grey-lighter;

    &:hover {
      color: $text-strong;
    }

    &:not(.icon) {
      border-bottom: 1px solid $border;

      &:hover {
        border-bottom-color: $link;
      }
    }
  }
}
