/* Toggle */
.toggle-btn  {
  background: rgba(255,255,255,.5);
  border-radius: 2px;
  padding: 4px 4px 2px 4px;
}

.toggle-btn-close {
  background: rgba(255,255,255,.5);
  border-radius: 2px;
  padding: 4px 4px 2px 4px;
}

div[class^="toggle-btn"] { cursor: pointer;}


.toggle-btn i,
.toggle-btn-close i {
	font-size: 1.4em;
	color: $primary;
}

.on-left  {
  top: 1em;
  left: 1em;
}

.on-right  {
  top: 1em;
  right: 1em;
}

.on-win-edge{
position: fixed;
}

.on-div-edge {
position: absolute;
}

disable-scroll {
  overflow: hidden; 
}

.toggle-window  {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  width: 100%;
  opacity: 0;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  -webkit-transition: opacity 200ms linear, bottom 0 linear 200ms;
  -moz-transition: opacity 200ms linear, bottom 0 linear 200ms;
  -o-transition: opacity 200ms linear, bottom 0 linear 200ms;
  transition: opacity 200ms linear, bottom 0 linear 200ms; 
  
    // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      background: $color;
      color: $color-invert;
    }
       &.is-#{$name} a{
         color: $color-invert;
       }
       &.is-#{$name} i{
         color: $color-invert;
       }
  }
}
  
.toggle-window-open #toggle-window {
  bottom: 0;
  opacity: 1;
  -webkit-transition: opacity 200ms linear, bottom 0 linear;
  -moz-transition: opacity 200ms linear, bottom 0 linear;
  -o-transition: opacity 200ms linear, bottom 0 linear;
  transition: opacity 200ms linear, bottom 0 linear; 
 }