.mod-header {
  align-items: stretch;
  box-shadow: 0 1px 2px rgba($black, 0.1);
  display: flex;
  min-height: 40px;
}

.mod-header-title {
  align-items: flex-start;
  color: $text-strong;
  flex: 1;
  padding: 10px;
}


.mod-header-title h2 {
  font-size: 1.6em;
  margin-bottom: .25em;
}

.mod-header-title > h2 > i {
  font-size: .9em;
  margin-right: .25em;
}

.mod-header-title h4 {
  font-size: 1em;
  font-weight: 500;
  color: #888888;
  margin-left: 2.25em;
  margin-bottom: .25em;
}


.mod-image {
  display: block;
  position: relative;
}

.mod-content {
  padding: 20px;
  .h1 + .h3 {
    margin-top: -20px;
  }
}

.mod-content hr {
	margin: 20px 0 10px 0;
}

.mod-content i {
  color: #999999;
}

.mod-content a {
  font-weight: 500;
}

.mod-date {
  width: 3.5em;
  height: 3.5em;
  color: #999999;
  padding-top: 1.25em;
  text-align: center;
  font-size: .9em;
  font-weight: bold;
  line-height: .9em;
  float: left;
  margin-right: .9em;
  text-transform: uppercase;
  background-image: url("../art/calblank.svg");
  background-size: cover;
}

.mod-info {
width: 100%;
font-size: 1.2rem;
color: #6a6a6a;
text-transform: none;
border-bottom: 1px solid #d2d2d2;
padding: 10px;
}

.mod-info:first-child {
	border-top: 1px solid #d2d2d2;
}
.mod-info:nth-child(even) {
	background-color: $white;}
.mod-info:nth-child(odd) {
	background-color: $grey-lighter;}
	
	
	
.mod-info i{font-size: 1.8em;
opacity: .2;
float: left;
color: #6a6a6a;}

.mod-info h4{
	text-transform: uppercase;
color: #6a6a6a;
font-size: 1em;
font-weight: bold;
letter-spacing: .05em;
margin-bottom: .25em;
}

.mod-tabbed {
  position: relative;
  width: 100%;
}

.mod-tabbed:before {
  content: "";
  display: block;
  padding-top: 50%;
}

.mod-tabs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  font-size: .8em;
  overflow-y: scroll;
}

.mod-tabs.is-active {
  display: inline;
}

.mod-tabs li {
  list-style-type: none;
  padding: 2px 2px 2px 6px;
}

.mod-tabs li:nth-child(2n) {
  background-color: #f0f0f0;
}

.mod-footer {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  align-items: stretch;
  display: flex;
}

.mod-footer-item {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 10px;
  position: relative;
  z-index: 2;
  text-align: center;
  -webkit-transform: translateZ(0);
  /* webkit flicker fix */
  -webkit-font-smoothing: antialiased;
  /* webkit text rendering fix */
  &:not(:last-child) {
    border-right: 1px solid $border;
  }
      &.is-active {
          background: $white;
          border-color: $border;
          border-bottom-color: transparent !important;
      }

}

.mod-footer-item.is-disabled {
  color: #c0c0c0;
}

.mod-footer-item:hover {
  background-color: $primary;
  color: $primary-invert;
}

.mod-footer-item.is-active {
  background-color: $primary;
  color: $primary-invert;
}

/* MOD FOOTER TOOLTIP */

.mod-footer-item > [class^="ics-"] { 
  margin-right: .25em; 
}

.mod-footer-item .tooltip {
  background: $primary;
  font-weight: 500;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25%; 
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.mod-footer-item .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

.mod-footer-item .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid $primary 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.mod-footer-item:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.lte8 .mod-footer-item .tooltip {
  display: none;
}

.lte8 .mod-footer-item:hover .tooltip {
  display: block;
}
.mod {
  background: $white;
  box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
  color: $text;
  max-width: 100%;
  position: relative;
  .media:not(:last-child) {
    margin-bottom: 10px;
  }
  // Modifiers
  //&.is-fullwidth {
    //width: 100%;
  //}
  &.is-rounded {
    border-radius: 5px;
  }
}

