.footer {
  background: $background;
  padding: 40px 20px 80px;

  a {
    &,
    &:hover {
      color: $text-strong;


 /**     &:visited {
	      color: $text;
      } **/
      &:not(.icon) {
        border-bottom: 1px solid $border;

        &:hover {
          border-bottom-color: $link;
        }
      }
    }
  }
}